<IfModule mod_rewrite.c>
	RewriteEngine on
	RewriteRule	^$	pub/	[L]
	RewriteRule	(.*)	pub/$1	[L]
</IfModule>

#Options +FollowSymLinks
#RewriteEngine on
#RewriteRule   ^235/.*$      -                  [L]
#RewriteRule !\.(gif|jpg|png|css|php|xml|html)$ /index.new.php
# RewriteRule !\.(gif|jpg|png|css|php|xml|html)$ /pub/redirect_edit.php
#ErrorDocument 400 /error.php
#ErrorDocument 401 /error.php
#ErrorDocument 403 /error.php
#ErrorDocument 404 /error.php
#ErrorDocument 500 /error.php
#ErrorDocument 503 /error.php

