body {
	width:100%;
	text-align:center;
	margin:0px;
	background:#c53733; //#5e511e; //#E7AF19;
	}
h1, h2, h3 {margin:0;padding:3px}
h1 {font:bold 20px georgia;padding-top:8px}
h2 {font:bold 16px georgia}
h3 {font:bold 12px georgia}

span, p {font:normal 12px georgia;line-height:1.3em;padding:0 0 10px 0;margin:0px}
p.vitalspost {margin-top:-20px}

blockquote {
	font:normal 1em georgia;
	line-height:1.2em;
	padding:5px;
	margin:7px;
	border:1px solid #F08C8C;
	background-color:#F0C8B4;
	color:#C86450
	}

em {font-style:normal;font-weight:bold}

a {text-decoration:none;font:normal 12px georgia}
a {color:#c53733}

ul {margin:0 0 0 10px;padding:0 0 5px 0}
ul li {list-style-type:none;font:normal 12px georgia;padding:2px 0 2px 0}
ol li {font:normal 12px georgia;padding:2px 0 10px 0}
ul.inline li {display:inline;padding:0 5px;border-left:1px solid #fc0}
ul.inline li.first {display:inline;padding:0 5px;border:none}

img {border:2px solid #998891}

/* form classes */
input, textarea, select {
	background:#edd5ba;color:#922;border:1px solid #e18b89;padding:1px;font:normal 11px georgia
}
input:focus, textarea:focus, select:focus {border:1px solid #fff}
option {padding:3px}
#addform textarea {width:100%; height:20em; font:normal 12px georgia semi-expanded; line-height:1.5em}

#frame {
	width:55.5em;
	margin-right:auto;
	margin-left:auto;
	padding:0px;
	text-align:left;
	background:#eee; //#311e5e; //#645191;
	color:#66555e;
	//border-right:2px solid white;
	//border-left:2px solid white
	}

#center {
	width:72.36%;
	float:left;
	padding:5px;
	background:#eee;
	//border:1px solid white
	}
#center h2, #center h3 {padding-bottom:5px}
#center div, #center p {padding-bottom:5px}

#right {
	width:26.31%;
	padding:0px;
	float:left;
	}
#right h3 {margin:0;padding:5px}

#header {
	//position:absolute;
	height:1em;
}
#admin {
	//background:#511e5e;//#311E5E;
	text-align:center;
	//border:1px solid white
	}

#header h1 {
	margin:0px;
	padding:0px;
	font-size:1em;
	line-height:1em;
	}
#admin {background:#f09b8a}	
#admin ul {
	list-style-type:none;
	margin:0px;
	padding:7px 0px 7px 0px
	}
#admin ul li {
	display:inline;
	padding:5px 10px 5px 10px ;
	margin:0px;
//	background-color:#eee;
	}
#admin a:link, #admin a:visited {}
#admin a:hover, #admin a:active {text-decoration:underline}

div#footer {
	padding:5px;
	background:#f09b8a;
	}
#footer p, #footer a {font:normal 11px georgia;line-height:1.3em;padding:2px 2px 7px 2px;margin:2px}
#footer a {text-decoration:none}
#footer a:link, #footer a:visited {} 
#footer a:hover, #footer a:active {text-decoration:underline}


div.row {clear:both}
div.row span.label {float:left;width:30%;text-align:left}
div.row span.field {float:right;width:67%;text-align:left}

/* table */
table {border:0;width:100%}
td {padding:5px;font:normal 12px georgia}

  .violet {background-color:#c6c}
  .teal {background-color:#6cc}
  .orange {background-color:#f60}
  .green {background-color:#0c3}
  .blue {background-color:#66c}
  .yellow {background-color:#fc0}


/* div classes */

div.vitals {float:left;border:2px solid #0c3;margin-right:5px;margin-bottom:5px}
div.vitals div {float:left;padding:2px;margin:2px}
div.vitals h1 {font:bold 1em Georgia;margin:0px;text-align:center;padding:0px}
.bp {border:2px solid #f60}
.temp {border:2px solid #fc0}
.bp p, .temp p {font:normal .9em georgia;text-align:center;line-height:.8em}

/* div class: entry preview and published entry */
/* #previews .preview {background:#333;float:left} */
div.preview, div.publishedentry {margin:0;padding:0px}
div.preview h2, div.publishedentry h2 {
	font:italic normal bold 12px georgia;margin:2px;padding:2px;text-align:left;background:#edd5ba
	}
div.preview h3, div.publishedentry h3 {
	font:normal normal normal 12px georgia;margin:2px;padding:2px;text-align:left;border-bottom:1px dotted #ccc
	}
div.preview p, div.publishedentry p {
	font:normal 12px georgia;line-height:1.5em;padding:2px;margin:2px
	}
div.publishedentry p.dream {color:#D9B22A;font:italic 1em Times}

div.comment {border:1px dotted #fc0;margin-bottom:10px}
div.comment h2 {font:italic normal bold .9em georgia;margin:2px;padding:2px;text-align:left}
div.comment h3 {font:normal normal normal .9em georgia;margin:2px;padding:2px;text-align:left;border-bottom:1px dotted #ccc}
div.comment p {font:normal .9em georgia;line-height:1.2em;padding:2px;margin:2px}
div.comment .small {font-size:.8em}
