/*
	Layout
unstoppablerobotninja's article on ALA taught me how to do this
be careful when changing or recalculating these
*/
#page {
	margin: 2.5em auto;             /* 40px / 16px = 2.5em */
	padding: 0 1em;              /* 20px / 16px = 1.25em */
	max-width: 61.75em;		/* 988px / 16px = 61.75em */
}

#title {
	margin-left: 20.243%;	/* 200px / 988px = 0.20243 */
	width: 70.85%;			/* 700px / 988px = 0.7085 */
}

#content {
	float: left;
	width: 100%;
}

#content #left {
	float: left;
	margin-top: 0.72727em;	/* 8px / 11px = 0.72727em */
	width: 18.219%;		/* 180px / 988px = .18219em */
}

#content .entry {
	float: right;
	margin-top: 0.72727em;	/* 8px / 11px = 0.72727em */
	width: 79.757%;		/* 788px / 988px = .79757em */
}

#content .main {
	float: left;
	width: 65.876%;	/* 556px / 844px = 0.65876 */
}

#content .info {
	float: right;
	width: 31.753%;	/* 268px / 844px = 0.31753 */
}
