/*
        Format
modify at will
*/

body {background:#333;color:#ccc;font-family:sans-serif}
acronym:hover {cursor:help;}
ul {padding:0;}
ul li {display:inline;padding:0;}
input, textarea, select, option {background:#333;color:#ccc;border:1px solid #666;padding:0;font-size:16px}
input:focus, textarea:focus, select:focus {border-color:#999}
option {border:0;padding:0 3px;}

#content .entry h2 {
    float:none;
    margin:0;
    text-align:left;
}
#content .entry h3 {text-align:left;}
#left h3 {margin:0;}
#blogAddForm h2 {font-size:.8em; color:#970}
#blogAddForm h2:hover {color:#fc0}
#mainnav {padding:4px 0;background-color:#222}
#mainnav li {display:inline;padding:4px 4%;background-color:#222;border: 1px solid #333}
#mainnav li:hover {background-color:black}

.info {font-size:.8em}
.entry p {line-height:1.3em}
ul.tags li {display:block}
a:link, a:visited {color:#970;text-decoration:none;}
a:hover, a:active {color:#fc0;}

/* unordered list classes for archive navigation menu */
ul.archlev1 {font-size:.8em}
ul.archlev1 li {padding:0;display:block}
ul.archlev2 li {padding:0 0 0 10px;display:block}
ul.archlev3 li {padding:0 0 0 20px;display:block}

/* form classes */
#addForm {
    display:none;
}
#addForm textarea, .main textarea {width:100%; height:25em; line-height:1.5em}
#addForm ul li, .info ul li {display:block;}
#addForm ul {list-style-type: none;}

.entryEditButton {float:right;font-size:.8em}

#loginToggle {cursor:pointer;display:block;font-size:0.6em;height:13px;position:absolute;right:0;top:0;width:30px;text-align:center;z-index:1}
#login {
    /*display:none; this is taken care of in header.php html */
    font-size:0.7em;
    position:absolute;
    right:10px;
    top:0;
}
#login input {font-size:0.8em}
#login ul li {display:block;list-style-type:none}