/*
        Format
modify at will
*/

body {
/*background:#000 url('../img/bamboo5.jpg') no-repeat fixed right top;*/
background:#000;
color:#ccc;font-family:sans-serif}
acronym:hover {cursor:help;}
ul {padding:0;}
ul li {display:inline;padding:0;}
input, textarea, select, option {background:#000;color:#ccc;border:1px solid #333;padding:0;font-size:16px;font-family:sans-serif}
input:focus, textarea:focus, select:focus {border-color:#666}
option {border:0;padding:0 3px;}
a:link, a:visited {color:#c52;text-decoration:none;}
a:hover, a:active {color:#fc0}

/* unordered list classes for archive navigation menu */
ul.archlev1 {font-size:.9em}
ul.archlev1 li {padding:4px 5px;display:block;background-color:#222}
ul.archlev2 li {padding:4px 5px;display:block;background-color:#111}
ul.archlev3 li {padding:4px 5px;display:block;background-color:#000}
ul li:hover {background-color:transparent}

#pagetitle {text-shadow: 0 0 5px #FFF, 0 0.2em 10px #FFF, 0 0.2em 50px #FFF;letter-spacing:0.05em}
#pagetitle > a:link, #pagetitle > a:visited {color:#000}
#pagetitle > a:hover, #pagetitle > a:active {text-shadow: 0 0 5px #FFF, 0 0.2em 10px #c52, 0 0.2em 50px #fff}

#footer {background-color:#111}
#footer .block p {line-height:1.3em}

#content .entry h2 {
    float:none;
    margin:0;
    text-align:left;
}
#content .entry h3 {text-align:left;}
#left h3 {margin:0;}
#right h3 {margin:0 0 10px;}
#blogAddForm h2 {font-size:.8em; color:#c52}
#blogAddForm h2:hover {color:#fc0}
#mainnav {padding:4px 0;background-color:#111}
#mainnav li {display:inline;padding:4px 4%;background-color:#111;border: 1px solid #000}
#mainnav li:hover {background-color:#000}

.info {font-size:.9em}
.entry p , .entry li {line-height:1.5em}
ul.tags li {display:block}

/* form classes */
#addForm {
    display:none;
}
#addForm textarea, .main textarea {width:100%; height:25em; line-height:1.5em}
#addForm ul li, .info ul li {display:block;}
#addForm ul {list-style-type: none;}

.archToggleButton, .entryEditButton {float:right;font-size:.8em;cursor:pointer}

#loginToggle {cursor:pointer;display:block;font-size:0.6em;height:13px;position:absolute;right:0;top:0;width:30px;text-align:center;z-index:1}
#login {
    /*display:none; this is taken care of in header.php html */
    font-size:0.7em;
    position:absolute;
    right:10px;
    top:0;
}
#login input {font-size:0.8em}
#login ul li {display:block;list-style-type:none}

#content #right #main ul li {display:list-item;list-style-type:circle;margin:0 0 0 20px}

.hidden {display:none}
.archmenu_ty, .archmenu_tm {color:#c52;text-decoration:none}
.archmenu_ty:hover, .archmenu_tm:hover {color:#fc0;cursor:pointer}
.highlight *, .highlight a:link, .highlight a:visited {color:#fc0;font-weight:bold}